---
const PROJECTS = [
    {
        title: 'Fighting game',
        description: '2D Fighting Web Game for Two Simultaneous Players on the Same Platform. Built with JavaScript and HTML Canvas.',
        github: 'https://github.com/Soriano00/fighting-game',
        video: '/assets/fighting-game-demo.webm',
        tags: ['HTML', 'JavaScript']
    },   
    {
        title: 'Connect4',
        description: 'Visual Application Simulating Connect Four for Two Players in a Web Browser. Focused on Visuals, with Great Detail in Animations, Textures, and Reflections.',
        github: 'https://github.com/Soriano00/Connect4',
        video: '/assets/Connect-4-demo.gif',
        tags: ['HTML', 'JavaScript', 'CSS', 'ThreeJS', 'TweenJS']
    },
    {
        title: 'ToDo MVC',
        description: `To-Do List Application.Allows adding, modifying, and deleting notes or tasks. 
            Tasks can be marked as active, not started, or completed.`,
        github: 'https://github.com/Soriano00/todomvc',
        video: '/assets/todo-demo.webm',
        tags: ['HTML', 'CSS', 'TypeScript', 'Angular']
    },  
    {
        title: 'Sports Dynamometry and Machine Learning',
        description: `Final Degree Project.I designed and created a database for information storage, 
            developed an API to automatically insert information into the database via files and
            designed and implemented a Machine Learning algorithm capable of predicting data from new data files not included in the database.`,
        github: 'https://github.com/Soriano00/TFG',
        image: '/assets/demo-TFG.png',
        tags: ['SQL', 'FastAPI', 'Python', 'Jupyter', 'JavaScript']
    }, 
    {
        title: 'Dynamic Website',
        description: `I created a dynamic website with a frontend using HTML and CSS, and for the backend, I used Docker, PHP, SQL, and JavaScript for this project.
            The website includes basic functionalities such as user creation, login, sign-up, profile information modification, 
            access to news articles, and the ability to comment on them. Additionally, a user can be an admin with special permissions, 
            such as deleting users, creating or deleting news articles, removing comments, and modifying the privileges of other users.`,
        github: 'https://github.com/Soriano00/SIBW2',
        image: '/assets/demo-SIBW.png',
        tags: ['SQL', 'HTML', 'CSS', 'Docker', 'PHP', 'JavaScript']
    }, 
    {
        title: 'Tic-tac-toe',
        description: `Website project using React to learn how to use the hook useState and useEffect. Tic-tac-toe for 2 players with local storage and effect 
        of winner and end game`,
        github: 'https://github.com/Soriano00/tic-tac-toe',
        video: '/assets/demo-3.webm',
        tags: ['React', 'CSS']
    }, 
    {
        title: 'MERN Expense Tracker',
        description: `Expense Tracker Web Application using the MERN stack (MongoDB, Express.js, React.js, Node.js). 
            It allows users to track their expenses and income, providing a user-friendly interface for managing finances.`,
        github: 'https://github.com/Soriano00/money-tracker',
        video: '/assets/expense-tracker-demo.webm',
        tags: ['React', 'CSS', 'Node.js', 'Express', 'MongoDB']
    }, 
      {
        title: 'Syncfusion Dashboard',
        description: `Syncfusion Dashboard project using React to learn how to use Syncfusion components. It includes various data visualization tools and features like
        theme switching between light and dark modes, a kanban, a calendar, a text editor and pages to see information like a company (employees, orders...).`,
        github: 'https://github.com/Soriano00/dashboard',
        video: '/assets/dashboard.webm',
        tags: ['React', 'CSS', 'JavaScript', 'Syncfusion', 'Tailwind']
    }, 
]
---

{
    PROJECTS.map(({title, description, tags, video, image, github }) => (
        <article class="mb-8 p-4 bg-white/5 rounded-2xl shadow-lg overflow-hidden">

            <div class="p-4">
                <h3 class="text-2xl font-semibold text-red-100/70 mb-2">
                    {title}
                </h3>

                <p class="text-lg mb-4 text-pretty">
                    {description}
                </p>

                <div class="flex flex-wrap gap-2 mb-4">
                    {tags.map(tag => (
                        <span class="px-3 py-1 rounded-full bg-white/10 text-white text-sm">
                            {tag}
                        </span>
                    ))}
                </div>

                {image ? (
                    <img 
                        class="w-full h-full object-cover rounded-t-2xl"
                        src={image}
                        alt={`${title} demo`} 
                    />
                ) : video ? (video.endsWith('.gif') ? (
                    <img 
                        class="w-full h-full object-cover rounded-t-2xl"
                        src={video}
                        alt={`${title} demo`} 
                    />
                ) : (
                    <video
                        class="w-full h-full object-cover"
                        src={video}
                        autoplay
                        loop
                        muted
                        playsinline
                    />
                )) : null}

                <a 
                    href={github} 
                    target="_blank" 
                    rel="noopener noreferrer"
                    class="inline-block px-4 py-2 mt-4 bg-white/10 text-white rounded-2xl hover:bg-white/20 transition"
                >
                    Ver en GitHub
                </a>

            </div>
        </article>
    ))
}